<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetUp-Real time chat application</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>MeetApp-Let's Connect:)</h2>
    <h5>Real time chat application</h5>
    <div class="container">
        <!-- <div class=" texts urchat">Yash:how are you?</div>
        <div class=" texts otherschat">Anuj:mai thik hun bhai</div> -->
    </div>
    <div>
        <form action="#" id="sendcontainer">
            <input type="text" name="message" id="inpmsg" placeholder="Type here">
            <button id="sendbtn" type="submit">Send</button>
        </form>
    </div>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
</body>

</html>